openapi: 3.2.0
info:
  title: Toyota Telematics Subscriptions API
  description: Toyota Telematics API provides details related to connected services and satellite radio subscriptions for requested vehicles based on Unit ID or VIN. Includes vehicle health data, odometer readings, connected service subscription status, and telematics-based fleet management capabilities for Toyota North America vehicles.
  version: 1.0.0
  contact:
    name: Toyota Developer Portal
    url: https://developer.eig.toyota.com/apis/telematics
servers:
- url: https://api.eig.toyota.com/telematics/v1
  description: Toyota Telematics Production API
security:
- bearerAuth: []
tags:
- name: Subscriptions
  description: Connected service and satellite radio subscriptions
paths:
  /vehicles/{vin}/subscriptions:
    get:
      operationId: getVehicleSubscriptions
      summary: Get Vehicle Subscriptions
      description: Returns connected service and satellite radio subscription details for a vehicle.
      tags:
      - Subscriptions
      parameters:
      - name: vin
        in: path
        required: true
        schema:
          type: string
        description: Vehicle Identification Number
      responses:
        '200':
          description: Subscription details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleSubscriptions'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: Vehicle or resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    VehicleSubscriptions:
      type: object
      properties:
        vin:
          type: string
        connectedServices:
          type: array
          items:
            type: object
            properties:
              serviceType:
                type: string
                description: Type of connected service
              status:
                type: string
                enum:
                - active
                - expired
                - trial
                - cancelled
              effectiveDate:
                type: string
                format: date
              terminationDate:
                type: string
                format: date
        satelliteRadio:
          type: object
          properties:
            provider:
              type: string
            status:
              type: string
              enum:
              - active
              - expired
              - trial
              - cancelled
            effectiveDate:
              type: string
              format: date
            terminationDate:
              type: string
              format: date
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
