openapi: 3.2.0
info:
  title: Toyota Telematics Health API
  description: Toyota Telematics API provides details related to connected services and satellite radio subscriptions for requested vehicles based on Unit ID or VIN. Includes vehicle health data, odometer readings, connected service subscription status, and telematics-based fleet management capabilities for Toyota North America vehicles.
  version: 1.0.0
  contact:
    name: Toyota Developer Portal
    url: https://developer.eig.toyota.com/apis/telematics
servers:
- url: https://api.eig.toyota.com/telematics/v1
  description: Toyota Telematics Production API
security:
- bearerAuth: []
tags:
- name: Health
  description: Vehicle health and diagnostics
paths:
  /vehicles/{vin}/health:
    get:
      operationId: getVehicleHealth
      summary: Get Vehicle Health
      description: Returns vehicle health status including warning lights, oil level, and maintenance alerts.
      tags:
      - Health
      parameters:
      - name: vin
        in: path
        required: true
        schema:
          type: string
        description: Vehicle Identification Number
      responses:
        '200':
          description: Vehicle health report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleHealth'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    VehicleHealth:
      type: object
      properties:
        vin:
          type: string
        overallStatus:
          type: string
          enum:
          - good
          - warning
          - critical
        oilLevel:
          type: string
          enum:
          - ok
          - low
          - critical
        warnings:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
              description:
                type: string
              severity:
                type: string
                enum:
                - info
                - warning
                - critical
        maintenanceDue:
          type: boolean
        nextMaintenanceMiles:
          type: integer
        lastReportedAt:
          type: string
          format: date-time
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
  responses:
    NotFound:
      description: Vehicle or resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
